body {
    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    width: 100px;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer img{
    width: 70px;
}
.descripcion {
    display: flow-root;
}

.descripcion img {
    float: right;
    width: 50%;
    margin-left: 30px;
}